<!-- Contact Start -->
{% load static %}

{% include "head.html" %}
{% include "header.html" %}
{% include "search.html" %}
         
<div class="span5"> </div> <div class="span5"><b> İLETİŞİM BİLGİLERİMİZ</b></div>
     <div class="span2"> <h6>{% if messages %}  {% for message in messages%}
        <div class="alert alert-{{message.tags}}" role="alert">
          {{message}}
        </div>
        {% endfor %} {% endif %}</h6></div> 

<section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <aside>
            <div class="widget">
              <h4 class="heading-success">
                <span class="btn btn-large btn-success">
                    <i class="m-icon-big-swapdown m-icon-white"></i></span>
                    &nbsp;&nbsp;Adres Bilgilerimiz</h4>
              <ul>
                <li><label><strong>Telefon: </strong></label>
                  <p>{{settings.phone}}</p>
                </li>
                <li><label><strong>Fax: </strong></label>
                    <p>{{settings.fax}}</p>
                  </li>
                
                <li><label><strong>Email : </strong></label>
                  <p>{{settings.email}}</p>
                </li>
                <li><label><strong>Adres Bilgileri: </strong></label>
                  <p>{{settings.address}}</p>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="span3">
                        
        <form action="" method="post" role="form" class="contactForm">
          
              {% csrf_token %}
              {{ form.as_p }}
                        
                <button class="btn btn-medium btn-success justify-center" type="submit">Mesaj Gönder</button>
        </form>
    </div>
    

        <div class="span5">
          <div class="well">
            <iframe src="{{settings.googleMap}}" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

      </div>
    </div>
    <div>
  </section>





    <!-- Contact End -->
    {% include "footer.html" %}
   