<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Side Menu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "toggle.css" %}">
</head>
<body>

    <h1 class="page_title">Side Menu Animation</h1>
<h4 class="what_to_do">(click the menu icon)</h4>

<div class="side_menu ">
	<div class="burger_box">
		<div class="menu-icon-container">
			<a href="#" class="menu-icon js-menu_toggle closed">
				<span class="menu-icon_box">
					<span class="menu-icon_line menu-icon_line--1"></span>
					<span class="menu-icon_line menu-icon_line--2"></span>
					<span class="menu-icon_line menu-icon_line--3"></span>
				</span>
			</a>
		</div>
	</div>
	<div class="px-5">
		<h2 class="menu_title">Menu Title</h2>
		<ul class="list_load">
			<li class="list_item"><a href="#">List Item 01</a></li>
            <ul class="list_item"><a href=""> Liste</a> </ul>
            <li class="list_item"><a href=""> kjkjkjk</a> </li>
            <ul class="list_item"><a href=""> Liste</a> </ul>
			<li class="list_item"><a href="#">List Item 02</a></li>
			<li class="list_item"><a href="#">List Item 03</a></li>
			<li class="list_item"><a href="#">List Item 04</a></li>
			<li class="list_item"><a href="#">List Item 05</a></li>
			<li class="list_item"><a href="#">List Item 06</a></li>
			<li class="list_item"><a href="#">List Item 07</a></li>
			<li class="list_item"><a href="#">List Item 08</a></li>
		</ul>
		<div class="spacer_box"><p>This is a spacer box.</p></div>
	</div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static "toogle.js" %}"></script>

</body>
</html>
