
<div class="row">
<div class="span12">
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="/user/" data-toggle="tab"><center>  {% now "jS F Y H:i:s" %}
        <li class="icon-time icon-white"> </center></li></a> </li></center></a></li>
      
      <li><a href="/user/admin" class="btn btn-primary" type="button">Admin Paneli</a></li>
      <li><a href="/user/users" class="btn btn-info" type="button">Kulanıcılar</a></li>
      
      <li><a href="/user/allnotes/" class="btn btn-inverse" type="button">Eklenen Notlar</a></li>
      
      <li><a href="/user/allcomments/" class="btn btn-danger" type="button">Eklenen Not Yorumları</a></li>
      <li><a href="/user/allcontent/" class="btn btn-warning" type="button">Eklenen İçerikler</a></li>
      
      
      <li><a href="/content/allcomments/" class="btn btn-success" type="button">Eklenen İçerik Yorumları</a></li>
      <li><a href="/curriculumVitae/emaillist/" class="btn btn-primary" type="button">Email Listesi</a></li>
  
    </ul>
    <div class="tab-content">
    </div>
</div>