
{% extends "homebase.html" %}
{% load static %}


{% block title %} Change Password [ {{user.first_name}} {{user.last_name}} ] {% endblock title %}
{% block keywords %} {{setting.keywords}} {% endblock keywords %}
{% block description %} {{setting.description}} {% endblock description %}

{% block head %} 
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'/>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock head %}

{% block content  %}  

{% include "head.html" %}
{% include "header.html" %}

{% include "search.html" %}
 

<section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside>
            <div class="widget">
              {% include "user_panel.html" %}
            </div>
            <div class="widget">
              
            </div>
          </aside>
        </div>
        <div class="span9">
          <aside>
            <div class="widget">
              {% if messages %}
              {% for message in messages %}
              <div style="color: #d43f3a; font-size: medium">
                {{message | safe}}
              </div>
              {% endfor %}
              {% endif %}
              <div class="well well-danger">
                <center><b> <h3>ŞİFRE DEĞİŞTİRME İŞLEMİ </b></h3></center>
              </div>
             
              <table class="table">
                <thead>
                  <tr>
                     
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <form method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                    <p>
                      {{field.label_tag}} <br> {{field}}
                      {% if field.help_text %}
                        <small style="color: grey"> {{field.help_text}} </small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="..."> {{ error }} </p>
                        {% endfor %} </p>
                      
                      {% endfor %}
                    

                      <button class="btn btn-danger" type="submit">
                        Şifre Değiştir </button>
                    
                  </form>
                </tr>
                </tbody>
              </table>



            </div>
            <div class="widget">
              
            </div>
          </aside>
          
          

        </div>
      </div>
    </div>
  </section>


  {% endblock content  %}
