
{% extends "homebase.html" %}
{% load static %}


{% block title %}  Profil Güncelle [ {{user.first_name}} {{user.last_name}} ] {% endblock title %}
{% block keywords %} {{setting.keywords}} {% endblock keywords %}
{% block description %} {{setting.description}} {% endblock description %}

{% block head %} 
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'/>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
    justify-content: center;
  padding: 5px;
}

span.psw {
  float: center;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
{% endblock head %}

{% block content  %}  

{% include "head.html" %}
{% include "header.html" %}

{% include "search.html" %}
 

<section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside>
            <div class="widget">
              {% include "user_panel.html" %}
            </div>
            <div class="widget">
              
            </div>
          </aside>
        </div>
        <div class="span9">
          <aside>
            <div class="widget">

              <div class="well well-info">
                <center><b> <h3> PROFİL BİLGİLERİNİ GÜNCELLEME </b></h3></center>
              </div>
              <table class="table">
                <thead>
                
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td colspan="3"><b> <center><img src="{{user.userprofile.image.url}}" class="avatar" align="center"></center> </b></td>

                  </tr>
                </tbody>
              </table>
             <hr>
              <table class="table">
                <thead>
                  <tr>
                     <td> <b> </b></td>
                       <td> 
                       </td>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      {{user_form.as_p}}
                      {{profile_form.as_p}}
                    </fieldset>
                    <div class="form-group">
                      <button class="btn btn-large btn-block btn-primary" type="submit">
                        Bilgilerimi Güncelle </button>
                    </div>
                  </form>
                </tr>
                </tbody>
              </table>



            </div>
            <div class="widget">
              
            </div>
          </aside>
          
          

        </div>
      </div>
    </div>
  </section>


  {% endblock content  %}
