
<div class="row">
<div class="span12">
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="/user/" data-toggle="tab"><center>  {% now "jS F Y H:i:s" %}
        <li class="icon-time icon-white"> </center></li></a> </li></center></a></li>
      
      <li><a href="/user/" class="btn btn-primary" type="button">Kullanıcı Profilim</a></li>
      <li><a href="/user/update" class="btn btn-info" type="button">Profilimi Güncelle</a></li>
      <li><a href="/user/{{user.id}}/password " class="btn btn-danger" type="button">Şifre Değiştir</a></li>
      <li><a href="/user/notes/" class="btn btn-success" type="button">Eklediğim Notlar</a></li>
      <li><a href="/user/addnotes/" class="btn btn-warning" type="button">Not Ekle</a></li>
      <li><a href="/notelist/" class="btn btn-success" type="button">Beğendiğim Notlar</a></li>
      <li><a href="/user/comments/" class="btn btn-danger" type="button">Not Yorumlarım</a></li>
      <li><a href="/user/contents/" class="btn btn-warning" type="button">Eklediğim İçerikler</a></li>
      <li><a href="/user/addcontent/" class="btn btn-info" type="button">İçerik Ekle</a></li>
      
      <li><a href="/content/comments/" class="btn btn-primary" type="button">İçerik Yorumlarım</a></li>

  
      <li><a href="/logout/" class="btn btn-danger">Çıkış</a></li>
    </ul>
    <div class="tab-content">
    </div>
</div>